.icon {
    width: 22px;
    height: 22px;
}

.dark {
    dark {
        display: none;
    }

     light {
        display: block;
    }
}

.light {
     light {
        display: none;
    }
 dark {
        display: block;
    }
}